---
- name: Ensure capabilities on /bin/ping
  capabilities:
    path: /bin/ping
    capability: cap_net_raw+ep
    state: present

- name: icinga is installed
  apt:
    name: icinga
    state: installed

- name: passlib is installed
  apt:
    name: python-passlib
    state: installed

- name: icinga users are present
  htpasswd:
    path: /etc/icinga/htpasswd.users
    name: "{{ item.username }}"
    password: "{{ item.password }}"
  with_items: "{{ icinga_users }}"

- name: Enable external commands
  lineinfile:
    state: present
    dest: /etc/icinga/icinga.cfg
    line: 'check_external_commands=1'
    regexp: '^check_external_commands=\d$'

- name: Check stat-override for commands dir
  command: dpkg-statoverride --list /var/lib/icinga
  register: statoverride_dir
  changed_when: false
  failed_when: false

- name: Set permissions on commands dir
  command: dpkg-statoverride --update --force --add nagios nagios 751 /var/lib/icinga
  when: statoverride_dir.stdout != "nagios nagios 751 /var/lib/icinga"
  notify: Reload Icinga

- name: Check stat-override for commands file
  command: dpkg-statoverride --list /var/lib/icinga/rw
  register: statoverride_file
  changed_when: false
  failed_when: false

- name: Set permissions on commands file
  command: dpkg-statoverride --update --force --add nagios nagios 2710 /var/lib/icinga/rw
  when: statoverride_file.stdout != "nagios www-data 2710 /var/lib/icinga/rw"
  notify: Reload Icinga

- name: Remove default Icinga objects
  file:
    path: "{{ item }}"
    state: absent
  notify: Reload Icinga
  with_items:
    - /etc/icinga/objects/hostgroups_icinga.cfg
    - /etc/icinga/objects/localhost_icinga.cfg
    - /etc/icinga/objects/services_icinga.cfg
    - /etc/icinga/objects/extinfo_icinga.cfg

- name: Objects are present
  copy:
    src: "{{ item }}"
    dest: /etc/icinga/objects/
  with_fileglob:
    - "{{ icinga_objects_dir }}/*"
  notify: Reload Icinga

- name: SSH directory is present
  file:
    path: /var/lib/nagios/.ssh
    state: directory
    owner: nagios
    group: nagios
    mode: 0750

- name: Private SSH key for monitoring is present
  copy:
    content: "{{ icinga_monitoring_private_key }}"
    dest: /var/lib/nagios/.ssh/id_rsa
    owner: nagios
    group: nagios
    mode: 0600

- name: Icinga service is enabled
  service:
    name: icinga
    enabled: true

- name: Icinga service is started
  service:
    name: icinga
    state: started

- name: Check if default vhost is enabled
  command: a2query -s 000-default
  register: default_vhost_enabled
  failed_when: false
  changed_when: false

- name: Disable Apache default vhost
  command: a2dissite 000-default
  when: default_vhost_enabled.rc == 0
  notify: Reload Apache

- name: Check if SSL module is enabled
  command: a2query -m ssl
  register: ssl_module_enabled
  failed_when: false
  changed_when: false

- name: Enable Apache SSL module
  apache2_module:
    name: ssl
    state: present
  when: ssl_module_enabled.rc != 0
  notify: Reload Apache

- name: Install new vhost
  template:
    src: vhost.conf.j2
    dest: /etc/apache2/sites-available/icinga_vhost.conf
  notify: Reload Apache

- name: Enable new vhost
  file:
    path: /etc/apache2/sites-enabled/icinga_vhost.conf
    src: ../sites-available/icinga_vhost.conf
    state: link
  notify: Reload Apache
