---
- name: icinga is installed
  apt:
    name: icinga
    state: installed

- name: passlib is installed
  apt:
    name: python-passlib
    state: installed

- name: icinga users are present
  htpasswd:
    path: /etc/icinga/htpasswd.users
    name: "{{ item.username }}"
    password: "{{ item.password }}"
  with_items: "{{ icinga_users }}"

- name: Enable external commands
  lineinfile:
    state: present
    dest: /etc/icinga/icinga.cfg
    line: 'check_external_commands=1'
    regexp: '^check_external_commands=\d$'

- name: Check stat-override for commands dir
  command: dpkg-statoverride --list /var/lib/icinga
  register: statoverride_dir
  changed_when: false
  failed_when: false

- name: Set permissions on commands dir
  command: dpkg-statoverride --update --force --add nagios nagios 751 /var/lib/icinga
  when: statoverride_dir.stdout != "nagios nagios 751 /var/lib/icinga"
  notify: Reload Icinga

- name: Check stat-override for commands file
  command: dpkg-statoverride --list /var/lib/icinga/rw
  register: statoverride_file
  changed_when: false
  failed_when: false

- name: Set permissions on commands file
  command: dpkg-statoverride --update --force --add nagios nagios 2710 /var/lib/icinga/rw
  when: statoverride_file.stdout != "nagios www-data 2710 /var/lib/icinga/rw"
  notify: Reload Icinga

- name: Remove default Icinga objects
  file:
    path: "{{ item }}"
    state: absent
  notify: Reload Icinga
  with_items:
    - /etc/icinga/objects/hostgroups_icinga.cfg
    - /etc/icinga/objects/localhost_icinga.cfg
    - /etc/icinga/objects/services_icinga.cfg
    - /etc/icinga/objects/extinfo_icinga.cfg

- name: Objects are present
  copy:
    src: "{{ item }}"
    dest: /etc/icinga/objects/
  with_fileglob:
    - "{{ icinga_objects_dir }}/*"
  notify: Reload Icinga

- name: service is enabled
  service:
    name: icinga
    enabled: true

- name: service is started
  service:
    name: icinga
    state: started
