<VirtualHost *:80>
        ServerAdmin webmaster@localhost
        DocumentRoot /var/www/html

        ErrorLog ${APACHE_LOG_DIR}/error.log
        CustomLog ${APACHE_LOG_DIR}/access.log combined

        Alias /.well-known/ /var/www/.well-known/
        Redirect / https://{{ inventory_hostname }}/
</VirtualHost>

<VirtualHost *:443>
        ServerAdmin webmaster@localhost
        DocumentRoot /var/www/html

        ErrorLog ${APACHE_LOG_DIR}/error.log
        CustomLog ${APACHE_LOG_DIR}/access.log combined
        SSLEngine on
        SSLCertificateFile {{ icinga_ssl_certificate_file }}
        SSLCertificateKeyFile {{ icinga_ssl_certificate_key_file }}
        SSLCertificateChainFile {{ icinga_ssl_certificate_chain_file }}

        Alias /.well-known/ /var/www/.well-known/
        RedirectMatch ^/$ https://{{ inventory_hostname }}/icinga/
</VirtualHost>
